{% extends 'post/header.html'%}

{% block title %}
    <title>Редактирование поста</title>
{% endblock %}

{% block content %}
    <h1>Редактирование поста</h1>
    <form action="{{ url ('post_edit', args=[_id]) }}" method="post" enctype="multipart/form-data">
        <label>
            <input type="text" name="title" placeholder="title">
        </label>
        <label>
            <input type="text" name="text" placeholder="text">
        </label>
        
        <button type="submit">Изменить</button>

    </form>

{% endblock %}